@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham";
  font-weight: 900;
  src: url("fonts/gotham-black.woff2");
}

@font-face {
  font-family: "gotham";
  font-weight: 800;
  src: url("fonts/gotham-bold.woff2");
}

@font-face {
  font-family: "gotham";
  font-weight: 400;
  src: url("fonts/gotham-book.woff2");
}

@font-face {
  font-family: "gotham";
  font-weight: 100;
  src: url("fonts/gotham-light.woff2");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@layer base {
  html {
    @apply font-gotham;
    @apply text-light-grey;
  }
}
